* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 20px;
}

body {
  
  font-family: "Poppins", sans-serif;
  color: #212529;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 400px;
  height: 400px;
  background-color: #0044ff;
  border-radius: 100px;
  opacity: 1;
  transition: opacity 250ms ease-in;
  /* animation-name: box-opacity;
  animation-duration: 2000ms;
  animation-direction: alternate;
  animation-iteration-count: infinite; */
}

.box:hover {
  opacity: 0;
}

@keyframes box-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}